@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Expletus+Sans:wght@700&display=swap');




//@fadedblue: #c7fff9;
//@lightblue: #93C4D1;;
//@navy: #18363E;
//@darkblue: #2D5F6E ;
//@blue: #3E88A5 ;

@fadedblue: #F7EDE2;
@lightblue: darken(hsl(28, 16%, 68%),27%) ;;
@navy: #AA9D94;
@darkblue: #BBADA1 ;
@blue: #D2C1B3 ;

@dark-blue: #006d77;
@light-blue: #83c5be;
@white: #edf6f9;
@pink: #ffddd2;
@brown: #e29578;



body {
  background-color: @pink;
  font-family: 'Eczar', sans-serif;
  text-align: center;
  color: @dark-blue;
}



h2 {
  color: @dark-blue;
  font-family: 'Expletus Sans', sans-serif;
  font-size: 75px;
  text-align: center;
  font-style: bold;
  margin: 5px;
}





nav {
  background-color: @blue;
  font-family: 'Expletus Sans', sans-serif;
}



a {
  text-color: @dark-blue;
}

a.sidebar {
  color: @fadedblue;
}


p10 {
  color: @fadedblue;

}

footer {
  background-color: @white;
}



img {
  border: 10px solid @brown;
}
