<%- include('global/header', {title: "About"}); %>
<%- include('global/navbar', {totalPages: allPages}); %>

<br>
<br>
<article>
  <header>
    <h2> Race and Majors within Science and Engineering: An Overview</h2>
  </header>

</article>


  <br>

  <div class="container">
    <div class="row mx-lg-n5">
      <div class="col-3">
        <p1>
        <img src="images/akashmacro.jpg" alt="AkashMacro" class = "about-image" style=" position:absolute; right:20px; width:400px;height:520;">
          <figcaption>  Akash's Macropage Protype</figcaption></p1>
        <p1>
        <img src="images/akashmicro.jpg" alt="AkashMicro" class = "about-image" style=" position:absolute;  top:600px; right:20px; width:400px;height:520;">  <figcaption>  Akash's Micropage Protype</figcaption></p1>

      </div>

      <div class="col-6">
        <p3> Our final webpages should reflect 4 key principles of design to be effective: understandability, achievability, discoverability, and comfort. Ultimately, these 4 principles can be summarized as simplicity: the most potent element of a webpage especially in the era of dwindling attention spans. Busy pages with multiple hyperlinks can often be daunting to users, discouraging them from  clicking through the page or even processing what they’ll be reading. Having an engaging webpage is harder when dealing with statistics, but not impossible. To begin, understandability is the framework for the rest of the webpage. Across the micro and macro pages of both sets of images above, we agreed that having as little on the page without it coming across as barebones is key to pathing the user’s eyes to the important aspects of the page. For example, we believe that the user should immediately be able to see the data in the pie chart first, which is why it is at the top in Akash’s micro/macro pages. </p3>

        <br></br>

        <p3> Remaining on the topic of the micro page, we feel that including the layout on Tanzim’s micropage should remain, where it is a table with a description next to it and then a line graph below. After swapping the table out for Akash’s pie chart, we believe that this is the most effective layout for the micro pages to be succinct and informative: why add more clutter if it doesn’t add to the overall understanding? Minimizing page content also means that there is less remembering for the user to do, whether it be scrolling or traveling through link chains. Everything on the webpage will be immediately visible, from the navbar content to the article and spreadsheet links. This transparency combined with an inviting color palette should ideally let the user navigate the page more easily, and give off a professional look. The new trend in this modern era seems to be rounding out letters and picking pastel palettes to invite the youth into a webpage (Google logo evolution is a good example); our webpage will do the same.

        <br></br>

        <p3> As far as achievability goes, none of what we have planned out is difficult to do. Bootstrap wil be a crucial tool in organizing the pages in a modern way that reduces clutter, contributing to the simplicity of the designs and therefore overall understandability. Save for the about  page, there shouldn’t be large amounts of chunk text either, and any images added will be done tastefully so that they actually serve a purpose rather than take up space. The simple design and node ejs package should also make replicating the micropages much easier as well.
</p3>
<br>
<br>
<p1>
<img src="images/pipeline.jpg" alt="Pipeline" style="  width:500px;height:333px;">
  <figcaption> Project Pipeline</figcaption></p1>


      </div>
      <div class="col-3">
        <p1>
        <img src="images/tanzimmacro.jpg" alt="TanzimMacro" style=" position:absolute; left:20px; width:400px;height:520;">
              <figcaption> Tanzim's Macropage Protype</figcaption></p1>
        <p1>
        <img src="images/tanzimmicro.jpg" alt="TanzimMicro" style=" position:absolute; top:600px; left:20px; width:400px;height:520;"   <figcaption> Tanzim's Micropage Protype</figcaption></p1>
      </div>
      </div>
    </div>


  <br>
  <br>


<%- include('global/footer'); %>
